[global]
minHour = 0
maxHour = 24
startDate = 10-01-2016
local = false

[playServer]
watchFile = /tmp/playServer.dat

; where to look for sounds to play back
soundDir = /dev/null

; only consider files with these extensions
soundExt[] = webm

; choices for the play buttons (in seconds)
duration[] = 30
duration[] = 60
duration[] = 120
duration[] = 180
duration[] = 300
duration[] = 600
