[global]
minHour = 0
maxHour = 24
startDate = 10-01-2016
local = false

[play]
; who can access play.php - list of IPs and/or CIDR, delimited by commas and/or whitespace
validIps = "127.0.0.1"

; where to look for sounds to play back
soundDir = /dev/null

; only consider files with these extensions
soundExt[] = webm

; choices for the play buttons (in seconds)
duration[] = 10
duration[] = 30
duration[] = 60
duration[] = 120
duration[] = 180
